body, html{
	justify-content: center;
    padding:0;
    margin:0;
    font-family:sans-serif;
    scroll-behavior: smooth;  
    scrollbar-width: none;
    width:auto;
    color:black;
	background-color:#00B7E8 ;
    
}


.container-fluid, .row, main{
    /* justify-content:center; */
    width:100%;
    padding:0;
    margin:0;
    margin-bottom:1vh;
}


.container-fluid{
	margin-top:10vh;
}



/* Bouton */
.Button {
	margin-top:2vh;
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.Button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.Button:active {
	position:relative;
	top:1px;
}

             

.effet{
	background-color:red;
	color:red;
	padding-top:50vh;
}

















/*

	Bouton gliser fauche / droite checkbox

*/
input[type="checkbox"].demo5 {
	display: none;
  }
  input[type="checkbox"].demo5 + label {
	box-sizing: border-box;
	display: inline-block;
	width: 3rem;
	height: 1.5rem;
	border-radius: 1.5rem;
	padding:2px;
	background-color: #c0ceda ;
	transition: all 0.5s ;
  }
  input[type="checkbox"].demo5 + label::before {
	box-sizing: border-box;
	display: block;
	content: "";
	height: calc(1.5rem - 4px);
	width: calc(1.5rem - 4px);
	border-radius: 50%;
	background-color: #fff;
	transition: all 0.5s ;
  }
  input[type="checkbox"].demo5:checked + label {
	background-color: #00B7E8 ;
  }
  input[type="checkbox"].demo5:checked + label::before {
	margin-left: 1.5rem ;
  }








  /* accueil */

#accueilImage{
	position:absolute;
	top:6vh;
	right:0;
	height:85vh;
	width:100%;
	background-image: url('/views/image/fondAccueil.jpg');
	/* source image 
	https://www.pexels.com/fr-fr/photo/photographie-selective-de-l-appareil-photo-reflex-numerique-canon-noir-au-dessus-des-mains-humaines-986733/
	*/
	background-size: cover; 
	
}


#accueilPresentation{
	padding-top:88vh;
	height:auto;
}


#accueilPresentation img{
	position: relative;
	top:10vh;
	left:10%;
	height:125px;
	width:125px;	
}


#accueilPresentation h1{
	position: relative;
	top:10vh;
	left:25%;
	width:75%;
}

#accueilPresentation p{
	position: relative;
	top:15vh;
	left:25%;
	width:75%;
}


h2{
	font-size:3vh;
	padding-top:2vh;
	color:#408c99;
	font-weight: bold;
}

.cadreFormulaire{
	position:absolute;
	top:25vh;
	left:40%;
	width:auto;
	padding:1%;

	font-size:2vh;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
	border-radius: 1%     1%     1%     1% /     1%     1%     1%     1%;
}



/* Affichage des photos charger */
#listAlbum{
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	padding-top:50px;
	margin-top: 20px;
	padding-bottom: 20px;
	scrollbar-width: none;
	background-color:white;
}

article{
	text-align:center;
	flex: 0 0 auto;
	width: 240px;
	height: 300px;
	margin: 10px;
}
article img {
	flex: 0 0 auto;
	width: 200px;
	height: 200px;

}

article .suprime {
	padding-top:20px;
	width:40px;
	height:50px;
}



.cadre{
	font-size:2vh;
	background-color: #fff;

	padding:1%;
	padding-left:9%;
}

table td{
	padding:10px;
}