[Desktop Entry]
Encoding=UTF-8
Name=Lien vers mysql blob taille maximale - Recherche Google
Type=Link
URL=https://www.google.com/search?q=mysql+blob+taille+maximale&client=ubuntu&hs=o0O&channel=fs&sxsrf=APq-WBs_05_V9XjYj9sr_rdGtF_ZwwpJHA%3A1644226759332&ei=x-gAYqfnE5LIaJGsicgO&ved=0ahUKEwjn5q3_pe31AhUSJBoKHRFWAukQ4dUDCA0&uact=5&oq=mysql+blob+taille+maximale&gs_lcp=Cgdnd3Mtd2l6EAMyAggAOgcIABBHELADOggIABAIEA0QHkoECEEYAEoECEYYAFDEA1iIB2DECGgBcAJ4AIABaogB8QOSAQMzLjKYAQCgAQHIAQjAAQE&sclient=gws-wiz
Icon=text-html
