
<html lang="fr">
<DOCTYPE html>
<head>



    <link rel="stylesheet" href="/views/bibliotheques/bootstrap.min.css">
 
    <link rel="stylesheet" href="/views/bibliotheques/header.css">
    <link rel="stylesheet" href="/views/bibliotheques/formulaire.css">
       <link rel="stylesheet" href="/views/bibliotheques/style.css">
       
    <title> Share Picture </title>


    {% block head %}

  

    <header>

      <nav class="navbar">
  
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
          <!-- USING CHECKBOX HACK -->
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>
          <!-- NAVIGATION MENUS -->
          <div class="menu">
            <li><a href="/sharePicture/"> Accueil </a></li>
            <li><a href="/sharePicture/connection"> Connection </a></li>
            <li><a href="/sharePicture/inscription"> Inscription</a></li>
            <li><a href="/sharePicture/acceuilConnection">  Votre espace </a></li>
            <li><a href="/sharePicture/deconnection">   <img style="width:30px;height:30px;" src="/views/image/deconnection.jpg"> </a> </li>
          </div>
        </ul>
      </nav>



    </header>

    {% endblock %}
</head>



    

<body class="container-fluid">



    <main>{% block content %}{% endblock %}</main>



    <footer>
        {% block footer %}
        
        {% endblock %}
    </footer>

    
</body>
</html>
