{% extends 'base.twig' %}
{% block content %}

    <script src="/views/js/connection.js"> </script>


    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        
        <div class="cadreFormulaire">

        
            <h2> Connectez-Vous </h2>
   

            <form  >
           
              
                <div>
                    <label for="mail">Mail :</label>
                    <input  type="text" id="mail" name="mail" placeholder="mail" >
                </div>

                <div>
                    <label for="mdp">Mot de Passe :</label>
                    <input  type="text" id="mdp" name="mdp" placeholder="mdp" >
                </div>

                
                <div class="button">
                    <a  id="bouttonConnection" > Connection   </a>  
                </div>

            </form>

        </div> 
    

 
    </div> 
</div> 


{% endblock %}