
{% extends 'base.twig' %}


{% block header %}



  

    <header>
      <div class="row">
        <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">
          <nav class="navbar navbar-expand-lg navbar-black bg-black">
            <div class="container-fluid">
              <h1> Share Picture </h1>

              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">

                    <li class="nav-item">
                        <a href="/"> Accueil </a>
                    </li>
                    <li class="nav-item">
                        <a href="/connection/"> connection </a>
                    </li>
                    <li class="nav-item">
                       <a href="/acceuilConnection"> /acceuilConnection  </a> 
                    </li>


                    
                   
                  </ul>
              </div>
            </div>
          </nav>
        </div>

        <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
       
            <button type="submit" name="deconnection"> <img style="width:30px;height:30px;" src="./src/image/deconnexion.png"> </button>
     
        </div>


      </div>
    </header>


   
 

    {% endblock %}