{% extends 'base.twig' %}
{% block content %}


    <div class="row" >
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" id="acceuil">

            <img src="/views/image/logo.png" >
            <h1> Bienvenue</h1>

        </div> 
    </div> 
   
    <div class="row" >
        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 cadre" style="padding-top:5vh;padding-bottom:5vh;">
             
            <img style="width:90%;height:40vh;" src='/views/image/fondAccueil.jpg' >
    
        </div> 

        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 cadre" >
  
            <h2> Prenons le temps de nous connaitre </h2>

            <p> Vous shouahitez partagez vos photo avec vos amis? </p>
            <p> Créer vous un compte et profiter </p>

            <a href="/connection" class="Button"> Connectez-vous</a>
            <a href="/inscription" class="Button"> Inscrivez-vous</a>

        </div> 
    </div> 


{% endblock %}