{% extends 'base.twig' %}
{% block content %}




    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
        
            <h2>Bienvenue !!</h2>

            <a href="/connection" class="myButton"> Connectez-vous</a>



        
        </div> 
    </div> 

    



{% endblock %}